#divWhatsApp {
  background-color: @color3;
  .sc-sec-header {
    padding: 50px 0 35px;
    .sc-title-2 {
      color: @color2;
      margin: auto;
      letter-spacing: 4px;
      &:after {
        .icon-wp-2;
        right: -24px;
      }
    }
  }
  .sc-container {

  }
  .wp-steps {
    width: 60%;
    margin: 0 auto 40px;
  }
  .wp-step {
    position: relative;
    border-bottom: 1px dashed @color2;
    .sc-text {
      float: left;
      width: 50%;
    }
    .wp-step-footer {
      float: right;
      width: 50%;
      text-align: center;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    &.step-1 {
      .sc-text {
        margin-top: @margin * 3;
      }
    }
    &.step-2 {
      padding: @margin*2 0;
    }
    &.step-3 {
      padding-top: @margin;
      .sc-text {
        margin-top: @margin * 2;
      }
    }
    &.step-4 {
      padding-top: @margin;
      .sc-text {
        margin-top: @margin * 4;
      }
    }
  }
  .wp-step-number {
    @size: 55px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -75px;
    margin: auto;
    color: @color2;
    display: inline-block;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    font-family: @mainFontBold;
    font-size: 50px;
    line-height: 32px;
    padding: 10px;
    .border-radius(@size/2);
    .box-sizing;
    .size(@size, @size);
  }
  .wp-step-cellnumber {
    font-size: 30px;
    color: @color12;
    font-family: @mainFont;
    line-height: 40px;
  }

  .wp-bi-footer {
    padding: 50px 0;
    .sc-btn-wrap {
      text-align: center;
    }
  }

  .wp-box-number {
    width: 50%;
    margin: @margin*2 auto;
    text-align: center;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 0;
      margin: @margin auto;
      border-left: 3px dotted @color2;
      height: 35px;
    }
  }
  .wp-bn-title,
  .wp-bi-title {
    font-size: 25px;
    margin-bottom: @margin;
  }
  .wp-bn-ipt {
    width: 90%;
    font-size: 28px;
    text-align: center;
  }

  .wp-bi-header {
    text-align: center;
  }
}

@media (max-width: @tabletSizePort) {
  #divWhatsApp {
    .wp-steps {
      width: 72%;
    }
    .sc-sec-header {
      padding: 50px 0 35px;
      .sc-title-2 {
        font-size:@ftSize - 3px;
        &:after {
          right: 0;
          top: -33px;
        }
      }
    }

    .wp-box-number {
      width: 90%;
      margin: @margin*2 auto;
      text-align: center;
      font-size: @ftSize - 2px;
      &:before,
      &:after {
        border-left: 2px dotted @color2;
        height: 20px;
      }
    }
    .wp-bn-title,
    .wp-bi-title {
      font-size: 17px;
    }


  }
}

@media (max-width: @mbSizeLand) {
  #divWhatsApp {
    .wp-steps {
      overflow: hidden;
      position: relative;
      padding-bottom: 30px;
      width: 90%;
    }
    .slick-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
      @size: 20px;
      li {
        display: inline-block;
        margin: 7px;
        button {
          border: none;
          background-color: @color2;
          text-indent: -999999px;
          padding: 0;
          vertical-align: top;
          .border-radius(@size/2) !important;
          .box-sizing;
          .size(@size, @size);
          .transition(all 300ms linear);
        }
      }
      .slick-active {
        background-color: @color3;
        border: 2px solid @color2;
        @nSize: @size - 2px;
        .size(@nSize, @nSize);
        .border-radius(@size/2) !important;
        button {
          opacity: 0;
        }
      }
    }
    .wp-step {
      border-bottom: 1px dashed @color2;
      .sc-text {
        float: left;
        width: 100%;
        text-align: center;
        padding: 0 0 (@margin/2) 0;
        margin-top: 0;
      }

      .wp-step-footer {
        float: none;
        clear:both;
        width: 100%;

      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      &.step-1 {
        .sc-text {
          margin-top: @margin * 3;
        }
      }
      &.step-2 {
        padding: @margin*2 0;
      }
      &.step-3 {
        padding-top: @margin;
        .sc-text {
          margin-top: @margin * 2;
        }
      }
      &.step-4 {
        padding-top: @margin;
        .sc-text {
          margin-top: @margin * 4;
        }
      }
      .slick-prev,
      .slick-next {
        display: none;
      }
    }

    .wp-step-number {
      display: block;
      @size: 45px;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      font-size: 30px;
      line-height: 22px;
      padding: 10px;
     .size(@size, @size);
    }
    .wp-step {
      float: left;
      height: 350px;
      margin: 0 10px;
      overflow: hidden;
      &.step-1,
      &.step-2,
      &.step-3,
      &.step-4, {
        padding:20px 0 10px;
      }
      .wp-step-footer {
        text-align: center;
        .sc-img {
          display: inline-block;
        }
      }
      &.step-1 {
        .sc-text {
          margin-top: 40px;
        }
        .wp-step-footer {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      &.step-2 {
        height:230px;
        .sc-text {
          margin: 40px 0 20px;
        }
      }
      &.step-3 {
        .sc-text {
          margin: 25px 0 15px;
        }
      }
      &.step-4 {
        .sc-text {
          margin: 20px 0;
        }
      }
    }
  }
}