.scroll-pane {
  width: 100%;
  overflow: auto;
}
.scroll-pane:focus{
  outline: none;
}
.jspContainer{
  overflow: hidden;
  position: relative;
}
.jspPane{
  position: absolute;
}
.jspVerticalBar{
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 100%;
}
.jspVerticalBar *{
  margin: 0;
  padding: 0;
}
.jspCap{
  display: none;
}
.jspTrack{
  background: #e8e8e8;
  position: relative;
}
.jspDrag{
  background: #9b9b9b url('#{$imgPath}/assets-lightbox.png') no-repeat -20px 50%;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.jspArrow{
  background: url('#{$imgPath}/assets-lightbox.png') no-repeat 0 0;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 19px;
}
.jspArrowDown{
  background-position: 0 -34px;
}