.lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  font-family: @mainFont;
  display: none;
  h4 {
    margin: 0 0 0 0;
    font-size: 33px;
    text-align: center;
    color: #828282;
  }
  p {
    margin: 0 0 43px 0;
    font-size: 12px;
  }
  hr {
    border: none;
    border-bottom: 1px solid #828282;
    width: 489px;
    margin: -2px 0 43px 46px;
  }
  .content-politica {
    hr {
      width: 417px;
      margin: -2px 0 43px 78px;
    }
  }
  .close {
    @w: 42px;
    @h: 48px;
    position: absolute;
    display: block;
    width: @w;
    height: @h;
    top: (@h - 30) * -1;
    right: (@w - 20) * -1;
    background: url('@{imgPath}/assets-lightbox.png') -74px -7px no-repeat;
    cursor: pointer;
    z-index: 101;
  }
  .wrap-lightbox {
    @wlWidth: 711px;
    @wlHeight: 496px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: @wlWidth;
    height: @wlHeight;
    margin-top: (@wlHeight/2) * -1;
    margin-left: (@wlWidth/2) * -1;
  }

  .content-termos,
  .content-politica {
    @wlWidth: 711px;
    @padding: 40px;
    @border: 10px;
    position: relative;
    height: 496px;
    width: @wlWidth - (@padding*2) - (@border*2);
    overflow-y: scroll;
    padding: @padding;
    border: @border solid #e1e1e1;
    background: #FFF;
    z-index: 100;
    font-family: @mainFont;
  }
  .content-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 670px;
    height: 456px;
    margin: -228px 0 0 -335px;
    border: 10px solid #fff;
    background: #FFF;
    z-index: 100;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}