#scModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: @zIndexBig;
  .opacity(0);
  .rgba(#000000, .7);
  .transition(all 300ms linear);
  .sc-md-wrapper {
    position: absolute;
    background-color: red;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: @color3;
    color: @color2;
    .box-sizing;
    .size(650px, 340px);
    .opacity(0);
    .transition(all 300ms linear);
    &.actived {
      .opacity(1);
    }
  }
  .sc-md-close {
    @size: 43px;
    position: absolute;
    top: @size * (-1);
    background-color: red;
    cursor: pointer;
    display: block;
    right: @size * (-1);
    text-indent: -999999px;
    .icon-modal-close;
  }
  .sc-md-text {
    position: relative;
    font-family: @mainFontLight;
    text-transform: uppercase;
    text-align: center;
    margin: 130px 20px 0;
    line-height: 25px;
    font-size: 18px;
    &:before {
      @size: 32px;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      background-color: red;
      top: (@size + (@size/4)) * (-1);
      .icon-modal-info;
    }
  }
  .sc-md-container {
    display: none;
    .sc-btn-wrap {
      text-align: center;
    }
    &.actived {
      display: block;
    }
  }
  .sc-md-iptwrap {
    width: 50%;
    margin: auto;
    position: relative;
    .send-miss-num {
      position: absolute;
      right: -60px;
      top: 0;
      bottom: 0;
      margin: auto;
      line-height: 0;
    }
    .sc-form-ipt {
      text-align: center;
    }
  }
  #formSuccess {
    .sc-md-text {
      &:before {
        .icon-modal-ok;
      }
    }
  }
  .sc-spinner {
    display: none;
  }
  &.loading {
    .sc-spinner {
      display: block;
    }
    .sc-md-container {
      display: none;
    }
  }
  &.actived {
    .opacity(1);
  }
}

@media (max-width: @mbSizeLand) {
  #scModal {
    .sc-md-wrapper {
      .size(auto, auto);
    }
    .sc-md-close {
      top: 20px;
      right: 20px;
    }
  }
}
