#paginaDivulg {
  .tk-light {
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    .tk-light-img
  }

  background: url('@{imgPath}/texture.jpg') repeat-y center center @color2;
  position: relative;

  .sc-section-wrap {
    padding-bottom: 60px;
  }
  .sc-sec-header {
    padding: 40px 0 10px;
    .sc-title-2 {
      color: @color1;
      font-size: 20px;
      margin: auto;
      text-shadow: -1px 1px 2px @color2;
      &:after {
        .icon-film;
      }      
    }
    p {
      margin-top: 10px;
      color: @color2;
      font-size: 20px;
      font-family: @subtitle;
    }
  }
  .sc-article {
    margin-top: 60px;

    .bg-video {
        width: 100%;
        background-color: @color14;
        border-radius: 10px;
        position: relative;

        img {
            margin: 20% 40%;
        }
    }

    .sc-text {
        padding: 25px 30px 15px 0;
        color:@color1;
        p {
          font-family: @mainFontLight;
          font-size: 16px;
          margin-bottom: 10px;

          strong {
            font-family: @mainFontBold;
            font-weight: normal;
          }
        }
    }
  }
  .sc-video {
      float: left;
      background-color: #e9e9e9; // aplicar cor e loading
      width: 540px;
      height:325px;
      margin-left: @margin * 3;
      margin-right: @margin * 3;
      margin-top: -30px;

      iframe{
        width:100%;
        height:inherit;
      }
  }
}

@media (max-width: @tabletSizePort) {

  #paginaDivulg {

    padding: 0px 5% 0px 1% !important;
    margin: auto;

    .sc-video {
      margin-left: -4%;
      margin-top: 20px;
      width: 108%;
      height:228px;
    }

    .sc-article {
      margin-top: 20px;

      .bg-video {
          width: 96% !important;
          margin: 0 4%;

          img {
              margin: 10% !important;
          }
      }
      .sc-text {
          padding: 220px 30px 15px 30px;
      }
    }
  }
}

@import "../resp/768/pagina-de-divulgacao";
@import "../resp/667/pagina-de-divulgacao";
