#passo01 {
  background-color: @color3;
  padding: 70px 0 0 50px 0;

  .sc-centralized{
    &:after{
      margin-bottom: 75px;
    }

  }
  .sc-sec-header {
    padding: 0px 0 35px;
    .sc-title-2 {
      color: @color14;
      margin: auto;
      letter-spacing: 2px;
      font-size: 20px;
      &:after {
        .icon-wp-tit;
        right: -28px;
      }
    }
  }
  .sc-container {
    margin: auto;
    width: 80%;
  }
  .sc-article {
    float: left;
    position: relative;
    z-index: @zIndex;
    .sc-text {
      font-family: @mainFont;
      margin-bottom: 25px;
      line-height: @ftSize + 5;
      &.sm-text{
        font-size: @ftSize - 3;
        line-height: @ftSize - 3 ;
      }
    }
    .sc-img {
      max-width: none;
      margin-top: 120px;
    }
    .sc-img-wrap{
      margin-top:0;
    }
  }
  .sc-form-wrap {
    border: none;
  }
  .custom-material {
    float: right;
    position: relative;
    z-index: @zIndex + 1;
    .sc-article {
      text-align: right;
      float: none;
      margin-top: 50px;
    }
  }

  /**
   box com o resultado
  */
  .custom-material-result {
    text-align: center;
    margin-top:30px;
  }
  .cmr-title {
    margin-bottom: @margin;
  }
  .cmr-ipt-wrap {
    margin: auto;
    width: 40%;
    .sc-form-ipt {
      text-align: center;
      border: 1px dashed @color2;
      color: @color7;
      font-size: 30px;
      font-family: @mainFontBold;
    }
  }
}

.txt-instrucao-desktop{display: inline-block;}
.txt-instrucao-mobile{display: none;}

.sc-formulario{
  float:right !important;
  z-index:100;
}

.floatRede{
  position: absolute;
  top: 63px;
  left: 10px;
}
.fakeInput{
  padding: 10px 5px 10px 218px;
}

@-moz-document url-prefix() {
  .floatRede {
     top:65px;
  }
}


@media (max-width: @tabletSizePort) {
  #passo01 {
    padding: 70px 25px 0 25px 0;

    .sc-container {
      width: 90%;
    }
  }
}

@media (max-width: @mbSizeLand) {

   .fakeInput{
      padding: 10px 5px 10px 20px;
   }

   .floatRede{
      position: relative;;
      top: 0;
      left: 0px;
   }

  #passo01 {
    .sc-sec-header{
      .sc-title-2{
        font-size:@ftSize - 3px;
        &:after {
          right:0;
          top:-33px;
        }

      }
    }
    .sc-article,
    .custom-material {
      float: none;
      width: auto;
      .sc-img {
        max-width: 100%;
        margin-top:0;

      }
    }
    .sc-article {
      .sc-text {
        font-size: 16px;
        br{display: none}
      }
      .sc-img-wrap{
        margin: 20px 0 50px;
      }

    }

    .custom-material {
      text-align: center;
      .sc-article {
        text-align: center;
      }
    }
    .sc-form-wrap {
      margin: 0;
      padding: 0;
    }
    .cmr-ipt-wrap {
      width: 90%;
      .sc-form-ipt{font-size:22px;}
    }
  }
  .txt-instrucao-desktop{display: none;}
  .txt-instrucao-mobile{display: inline-block;}

  .sc-formulario{
    float:none !important;
  }

}
