<footer class="footer-toolkit section">
    <div class="centralized">
        <ul class="list-items">
            <li class="item">
                    <span class="copyright-toolkit">
                        © 2016 NATURA
                    </span>
            </li>
            <li class="item">
                <a href="#politica">
                    Política de privacidade
                </a>
            </li>
            <li class="item">
                <a href="#termos" class="nb">
                    Termos e condições de uso
                </a>
            </li>
        </ul>
    </div>
</footer>
<footer id="footer-mb" class="sc-footer-mb visible-xs-block visible-sm-block">
  <div class="box-social">
    <p class="bs-label">
      Acesse as redes sociais da Natura
    </p>
    <p class="bs-wrap-link">
      <a href="https://www.facebook.com/natura.br"
         title=""
         class="bs-link facebook"
         target="_blank">
        facebook
      </a>
      <a href="https://twitter.com/naturanet?utm_source=site_cf&utm_medium=rodape&utm_campaign=midias_sociais"
         title=""
         class="bs-link twitter"
         target="_blank">
        twitter
      </a>
      <a href="https://www.youtube.com/user/naturabemestarbem?utm_source=site_cf&utm_medium=rodape&utm_campaign=midias_sociais"
         title=""
         class="bs-link youtube"
         target="_blank">
        youtube
      </a>
      <a href="https://www.pinterest.com/natura/"
         title=""
         class="bs-link pinterest"
         target="_blank">
        pinterest
      </a>
    </p>
  </div>
  <small class="copy">
    &copy; 2015 Natura
  </small>
</footer>
