<header id="header-mb" class="sc-header-mb visible-xs-block visible-sm-block">
  <p class="hm-wrap-logo">
    <a href="http://www.natura.com.br/www?utm_source=siteCFTodoDia&utm_medium=botHeader&utm_content=siteCFTodoDia&utm_campaign=TodoDiaFramboesa"   class="hm-logo-link">
      <img src="{{baseUrl}}/img/logo-natura.png" 
           alt="Natura"
           class="hm-logo">
    </a>
  </p>
</header>