<div id="formActive" class="sc-md-container">
  <p class="sc-md-text">
    Envie a palavra <strong class="sc-str">NATURA</strong><br />
    para o n&uacute;mero <strong class="sc-str num-to-activate">(xx) XXXXX-XXXX</strong><br />
    via WhatsApp para ativar sua participa&ccedil;&atilde;o
  </p>
  <p class="sc-btn-wrap">
    <button class="sc-btn">
        Ok, j&aacute; enviei
    </button>
  </p>
</div>