<div id="formSuccess" class="sc-md-container">
  <p class="sc-md-text">
    Estamos personalizando seu conte&uacute;do <br />
    <strong class="sc-str">
      Aguarde alguns instantes.
    </strong>
  </p>
</div>