<div id="formMissingNumber" class="sc-md-container">
  <p class="sc-md-text">
    Para continuar, você precisa <br />
    informar <strong class="sc-str">seu número de celular</strong>.
  </p>
  <div class="sc-md-iptwrap">
    <form id="formMissing">
      <input id="iptMissNum" 
             name="telefone" 
             class="sc-form-ipt" 
             type="tel" />
      <button id="sendMissNum" type="button"
              class="sc-btn send-miss-num">
        ok
      </button>
    </form>
  </div>
</div>