<section id="divFaceApp" class="sc-section">
  <div class="sc-centralized">
    <header class="sc-sec-header">
      <h2 class="sc-title-2">
        Divulgue os presentes no facebook
      </h2>
    </header>
    <div class="sc-container sc-row">
      <div class="box-info sc-row">
        <div class="sc-col-6 sc-left">
          <p class="sc-text">
            Preparamos uma série de posts com sugestões<br>
            para quem indicar cada um dos presentes.
          </p>
        </div>
        <div class="sc-col-6 sc-right">
          <p class="sc-text">
            <strong class="sc-str tk-share-txt">
              Veja como compartilhar no seu Facebook:
            </strong>
          </p>
          <p class="sc-text bulet">
            Clique no bot&atilde;o compartilhe este post
          </p>
          <p class="sc-text bulet">
            Uma janela de confirma&ccedil;&atilde;o ir&aacute; abrir
          </p>
          <p class="sc-text bulet">
            Clique em compartilhar foto
          </p>
        </div>
      </div>
      <div class="box-filter">
        <div id="fbSelCat" class="sc-dropdown">
          <div class="sc-dd-current">
            <p class="sc-dd-cur-lbl">
              Todos os posts
            </p>
          </div>
          <div class="sc-dropdown-list">
            <p class="sc-dd-item actived" data-item="all">
              Todos os posts
            </p>
            <p class="sc-dd-item" data-item="ate100reais">
              Até R$ 100
            </p>
            <p class="sc-dd-item" data-item="100a200reais">
              De R$ 100 a R$ 200
            </p>
            <p class="sc-dd-item" data-item="acima200reais">
              Acima de R$ 200
            </p>
          </div>
        </div>
      </div>
      <div id="fbCustomPosts" class="sc-list">
        {{> contents/index/list-posts
            area="facebook"
            classBtn="facebook-sm"
            msgBtn = "COMPARTILHE ESSE POST"
        }}
      </div>
    </div>
    <footer class="wp-bi-footer">
      <p class="sc-btn-wrap">
        <a title="Carregar mais imagens"
           class="sc-btn-2 arr-down wp-bi-showmore"
           data-target="divWhatsApp"
           data-ga="|facebook|carregar-mais"
           id="showMoreFace">
          Carregar mais imagens
        </a>
      </p>
    </footer>
  </div>
</section>
