<section id="divEmail" class="sc-section">
    <!-- <div class="tk-light">&nbsp;</div> -->

    <div class="sc-centralized">
        <!-- <span class="bg-fita"></span> -->
        <div class="sc-centralized fita-content" >
            <div class="sc-container sc-row ">
                <div class="box-info sc-col-3 sc-left">
                    <h2 class="sc-title-2">
                        Divulgue via email
                    </h2>
                    <ul class="sc-ulist">
                        <li class="sc-item"><span>
                            Clique para baixar a imagem no seu<br />
                            computador</span>
                        </li>
                        <li class="sc-item"><span>
                            Envie por e-mail: basta inserir <br />
                            como anexo. Se preferir, cole <br />
                            a imagem no corpo do e-mail</span>
                        </li>
                    </ul>
                </div>
                <div class="box-newsletter sc-col-7 sc-right">
                  <div class="box-email-custom">
                      <a data-ga="|download|email-E01" href="email">
                          <img src="{{baseUrl}}/img/email/email_01.jpg" class="be-img" />
                      </a>
                  </div>
                  <div class="box-email">
                    <a href="{{serviceUrl}}?post=E01&download=true">
                        <div class="sc-img-wrap">
                            <img src="{{baseUrl}}/img/email/email_01.jpg"
                                 alt=""
                                 class="sc-img" />
                        </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
