<section id="divWhatsApp" class="sc-section whatsapp-service" >
    <div class="sc-centralized">
        <header class="sc-sec-header">
            <h2 class="sc-title-2">
                Divulgue imagens via
                <strong class="sc-title-str">
                    Whatsapp
                </strong>
            </h2>
        </header>
        <div class="sc-container">
            <div id="whatsapp-download" style="display:none;">
                <div class="box-info sc-row">
                    <div class="sc-col-6 sc-left">
                        <p class="sc-text ">
                            Envie os presentes de Natal para seus <br>clientes também pelo <strong class="sc-str">WhatsApp</strong>.
                        </p>
                    </div>
                    <div class="sc-col-6 sc-right">
                        <p class="sc-text">
                            <strong class="sc-str tk-share-txt">
                                Veja como:
                            </strong>
                        </p>
                        <p class="sc-text bulet">
                            Você precisa acessar essa página direto do seu celular
                        </p>
                        <p class="sc-text bulet">
                            Clique para salvar a imagem no seu celular
                        </p>
                        <p class="sc-text bulet">
                            <strong class="sc-str">No aplicativo Whatsapp</strong>, clique no nome da pessoa
                            ou do grupo para quem você deseja enviar e envie
                            a imagem salva
                        </p>
                    </div>
                </div>
                <div class="box-instrucoes sc-container">
                    <div class="sc-row">
                        <h3>Sugestão de texto pra enviar com as imagens:</h3>
                        <h4>Opção 01</h4>
                        <p>
                            <strong class="sc-str">Já pensou como surpreender pessoas queridas nesse Natal?</strong><br>
                            Chame o amor que é presente. Presenteie com Natura. Compre comigo!
                        </p>
                        <h4>Opção 02</h4>
                        <p>
                            <strong class="sc-str">Presentes Natal Natura:</strong> grandes sucessos, brindes especiais <br>e preços para todos os bolsos. Compre comigo!
                        </p>
                    </div>
                </div>
            </div>
            <div id="whatsapp-message" style="display: none;">
                <div id="whatsPassos" class="wp-steps">
                    <article class="wp-step step-1">
          <span class="wp-step-number">
            1
          </span>
                        <p class="sc-text">
                            Envie a palavra <strong class="sc-str sc-color-2" id="lbl-natura-palavra">NATURA</strong> <br />
                            para o n&uacute;mero
                            <strong class="sc-str">
                                <span id="phoneNatura">(XX) XXXXX-XXXX</span>
                                <br />
                                pelo WhatsApp
                            </strong> para ativar  <br />
                            sua participa&ccedil;&atilde;o.
                        </p>
                        <div class="wp-step-footer sc-img-wrap">
                            <img src="{{baseUrl}}/img/wp-passo-cel.png"
                                 alt=""
                                 class="sc-img" />
                        </div>
                    </article>
                    <article class="wp-step step-2">
          <span class="wp-step-number">
            2
          </span>
                        <p class="sc-text">
                            Insira seu <strong class="sc-str">n&uacute;mero de celular</strong> <br />
                            no campo <span class="txt-instrucao-desktop">ao lado</span> <span class="txt-instrucao-mobile">abaixo</span>.
                        </p>
                        <div class="wp-step-footer">
                            <p class="wp-bn-ipt-wrap">
                                <input id="formNumWp"
                                       class="wp-bn-ipt sc-form-ipt"
                                       name="cell-number"
                                       type="tel"
                                       placeholder="(99) 999999999"/>
                            </p>

                        </div>
                    </article>
                    <article class="wp-step step-3">
          <span class="wp-step-number">
            3
          </span>
                        <p class="sc-text">
                            Escolha as imagens que você quer<br />
                            enviar para seus clientes e clique em<br />
                            <strong class="sc-str">
                                "Quero receber via Whatsapp"
                            </strong>.
                        </p>
                        <div class="wp-step-footer sc-img-wrap">
                            <img src="{{baseUrl}}/img/wp-passo-selecao-img.png"
                                 alt=""
                                 class="sc-img" />
                        </div>
                    </article>
                </div>

            </div>
            <div class="sc-row">
                <div class="wp-box-imgs" style="padding-bottom:20px;">

                    <!--- Parte para serviço indisponível --- Início -->
                    <header class="sc-sec-header" style="background:#97272c;border-radius:20px;display:none;">
                        <h2 class="sc-title-2" style="color:#fff;">
                            Serviço de Whatsapp temporariamente indisponível!
                        </h2>
                    </header>
                    <!--- Parte para serviço indisponível --- Fim -->


                    <div id="wpCustomPosts" class="sc-list">
                        {{> contents/index/list-posts
                        area="whatsapp"
                        classBtn="btn-whatsmsg"
                        }}
                    </div>
                    <footer class="wp-bi-footer">
                        <p class="sc-btn-wrap">
                            <a title="Carregar mais imagens"
                               class="sc-btn-2 arr-down wp-bi-showmore"
                               data-target="divWhatsApp"
                               data-ga="|whats-pagina|carregar-mais"
                               id="showMoreWhats">
                                Carregar mais imagens
                            </a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
