<section id="toolkit" class="sc-main toolkit-natal">
    {{> modules/header-mb}}
    {{> contents/modules/header}}
    {{> contents/index/pagina-de-divulgacao}}
    {{> contents/index/passo-1}}
    {{> contents/index/passo-2}}
    {{> contents/index/divulgue-facebook}}
    {{> contents/index/divulgue-facebook-share-msg}}
    {{> contents/index/divulgue-email}}
    {{> contents/modais/base}}
    {{> contents/modais/termos}}
    {{> modules/footer-mb}}
</section>
