{{#each content.posts}}
<div class="sc-item sc-col-3 {{classes}}" 
     data-item="{{clausters}}" 
     data-post="{{id}}">
  <div class="sc-img-wrap">
    <img src="{{../baseUrl}}/img/facebook/post_{{id}}.jpg"
         alt=""
         class="sc-img" />
  </div>
  <footer class="sc-item-footer">
    <button class="sc-btn {{../classBtn}}" >
        {{../msgBtn}}
    </button>
  </footer>
</div>
{{/each}}