<section id="paginaDivulg" class="sc-section">
  <!-- <div class="tk-light">&nbsp;</div> -->
  <div class="sc-section-wrap">
    <div class="sc-centralized">
      <header class="sc-sec-header">
        <h2 class="sc-title-2">
          Bem vindo(a) à sua p&aacute;gina de divulga&ccedil;&atilde;o
        </h2>
      </header>
      <div class="sc-container sc-row">
        <article class="sc-article sc-col-12" >
            <div class="bg-video">
                <div class="sc-video">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/i0KJ4_KzFxg?rel=0&showinfo=0&iv_load_policy=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="sc-text">
                  <p>Assista ao filme da campanha dedicado a todas as mães. Ele está lindo e poderá ajudar você a ter mais sucesso nesta data especial.</p>
                  <p><strong>Além disso, preparamos diversos materiais para ajudar a aumentar suas vendas.</strong></p>
                  <p><strong>Siga o passo a passo para personalizar seu material de divulgação.</strong></p>
                  <p>Boas vendas!</p>
                </div>
            </div>



            <!-- <p class="sc-text" id="video-01-text" style="display: none">
                Antes de começar, <strong class="sc-str">assista ao <br />
                vídeo</strong> que apresenta essas novidades.
            </p>
            <p class="sc-text" id="video-02-text">
                Antes de começar, <strong class="sc-str">assista ao vídeo da linda campanha</strong> que a Natura preparou para o Natal.
            </p>
          <p class="sc-text">
            Em seguida, <strong class="sc-str">siga o passo <br />
            a passo para personalizar <br />
            seu material de divulgação.</strong>
          </p>
          <p class="sc-text">
            <strong class="sc-str">
             Boas vendas!
            </strong>
          </p> -->
        </article>

        <!--
        @todo: separar bloco para criar modulo
        -->
        <!-- <div class="sc-wrap-video sc-col-8">
          <div class="sc-video" id="vh-player-container">
            <div id="vh-player"
                 class="vh-player"
                 data-tagvideo="{{gaDefaultCategory}}"
                 data-videoid="0xW-LgsRTAI">
            </div>
          </div>
          <div class="sc-video-thumbs">
              <a class="btn-thumb btn-open-video1" data-videoid="FXp8AzD-ITw">
                  <span>assistindo</span>
                  <img src="{{baseUrl}}/img/thumb-video-02.jpg" />
              </a>
              <a class="btn-thumb btn-open-video2 assistindo" data-videoid="0xW-LgsRTAI">
                  <span>assistindo</span>
                  <img src="{{baseUrl}}/img/thumb-video-01.jpg" />
              </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
