<section id="passo02" class="sc-section">
  <div class="sc-centralized">
    <!-- <div class="tk-light">&nbsp;</div> -->
    <header class="sc-sec-header">
      <h2 class="sc-title-2">
        <strong class="sc-title-str">
          Passo 2:
        </strong>
        Turbine suas vendas compartilhando <br />
        as imagens personalizadas com seus clientes
      </h2>
    </header>
    <div class="sc-container">
      <p class="sc-btn-wrap">
        <!-- <a title="Compartilhe pelo Whatsapp"
           class="sc-btn whatsapp whatsapp-service"
           data-target="divWhatsApp"
           data-ga="|ancora|whats"
           data-anchor-go="#divWhatsApp" >
          Compartilhe pelo Whatsapp
        </a> -->
        <a id="p2Facebook"
           title="Compartilhe pelo Facebook"
           class="sc-btn facebook"
           data-target="divFacebook"
           data-ga="|ancora|facebook"
           data-anchor-go="#divFaceApp">
          Compartilhe pelo Facebook
        </a>
        <a id="p2Email"
           title="Compartilhe por Email"
           class="sc-btn email"
           data-target="divEmail"
           data-ga="|ancora|email"
           data-anchor-go="#divEmail">
          Compartilhe por Email
        </a>
      </p>
    </div>
  </div>
</section>
