<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>{{title}}</title>

  <!-- cabecalho mobile -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
  <script src="{{baseUrl}}/js/vendor{{ext}}.js"></script>
  {{#if hasHeader}}
    <link rel="stylesheet" href="{{baseUrl}}/css/font.css">
  {{else}}
    <link rel="stylesheet" href="/static/www/css/font.css">
  {{/if}}
  <link rel="stylesheet" href="{{baseUrl}}/css/assets_mb{{ext}}.css"  media="(max-width: {{mbMaxSize}})">
  <link rel="stylesheet" href="{{baseUrl}}/css/home{{ext}}.css">
  <!-- / cabecalho mobile -->

  {{> fixed/tag_ga}}
</head>
<body>
  {{> contents/index/index}}



  <!-- footer mobile -->
  {{> assets/configs}}
  {{> assets/dataload}}
  <!-- / footer mobile -->

  {{> modules/tagpixel-mobile}}
</body>
</html>
