{{#if hasHeader}}
{{> fixed/head}}
{{> fixed/header}}
{{/if}}
<!--
-->
<link rel="stylesheet" href="{{baseUrl}}/css/home{{ext}}.css">
<!-- bibliotecas js -->
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{{baseUrl}}/js/vendor{{ext}}.js"></script>
<!-- // bibliotecas js -->

{{> contents/index/index}}

{{> assets/configs}}
{{> assets/redirect}}

<!--
 Nao deletar esse include, pois ele possui o script
 que carrega o arquivo main.js. Caso seja necessario duplicar
 essa pagina e carregar outro script, basta passar
 o parametro file com o nome do novo script. Ex.:

 assets/dataload file="outroscript"

 obs: passar dados acima entre chaves, no exemplo acima
 nao foi aplicado para nao gerar error na pagina
-->
{{> assets/dataload}}


{{#if hasHeader}}
{{> fixed/footer}}
{{> fixed/foot}}
{{/if}}
