@media (max-width: @mbSizePort) {
  #passo02 {
    .sc-btn-wrap {
      .sc-btn {
        margin: @margin/2.75 @margin*1.2;
        // display: block;
        padding-left: 60px;
        text-align: center;
        width: 175px;
      }
    }
  }
}
