@media (max-width: @tabletSizePort) {
  #paginaDivulg {
    padding: 0 @mbSpace;
    .tk-light {
      display: none;
    }
    .sc-section-wrap {
      padding-bottom: 45px;
    }

    .sc-sec-header {
      padding: 40px 0 20px;
      .sc-title-2 {
        font-size:@ftSize - 3px;
      }
    }
  }
}