@media (max-width: @tabletSizePort) {
  #passo02 {
    //display: none;
    .sc-sec-header {
      .sc-title-2 {
        font-size:@ftSize - 5px;
      }
    }
    .sc-btn-wrap {
      position: relative;
      z-index: @zIndex+1;
      text-align: center;

      .sc-btn {
        margin: 3.64px 2px;
        text-align: left;
        padding-left: 50px;
        font-size: 12px;
      }
    }
  }
}