/**
 Arquivo com os estilos dos botões do projeto
 Por padrão apenas o mixin setBtn está declarado.
 Ao realizar a uma análise no projeto é importante
 que o desenvolvedor crie os padrões nessa área e crie
 mixins, e classes de aplicação para facilitar
 a manutenção e reaproveitamento de código para os novos
 itens que entrarem a medida que o projeto cresce
*/

/**
 Seta um botao
 @bgColor 	- Cor de fundo do botao
 @txtcolor 	- Cor do texto
*/
.setBtn(@bgColor, @txtcolor) {
	display: inline-block;
	text-align: center;
	padding: 7px 12px;
	font-size: 16px;
	background-color: @bgColor;
	color: @txtcolor;
	font-family: @mainFont;
	text-decoration: none;
  border: none;
  cursor: pointer;
  .transition(all 300ms ease);
  .box-sizing;
  .border-radius(3px);
}

/**
 Cor aplicada na classe btn-def
*/
.btn-def {
	.setBtn(@color3, @color1);
  &:hover {
    .setBtn(darken(@color3, 10%), @color1);
  }
}

.sc-btn {
  @padding: 10px;
  display: inline-block;
  text-align: center;
  font-family: @mainFont;
  text-transform: uppercase;
  color: @color1;
  background-color: @color14;
  font-size: @ftSize - 4;
  padding: @padding + (@padding/2) @padding + @padding;
  border: none;
	border-radius: 25px;
  cursor: pointer;
  position: relative;
  .transition(all 300ms linear);
  &:before,
  &:after {
    content: '';
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    .transition(all 300ms linear);
  }
  &:before {
    left: @padding;
  }
  &:after {
    right: @padding;
  }
  &.whatsapp {
    padding-left: @padding * 5;
    &:before {
      .icon-wp;
    }
  }
  &.facebook {
    padding-left: @padding * 6;
    &:before {
      .icon-fb;
    }
  }
  &.facebook-sm {
    padding: @padding;
    &:before {
      position: relative;
      display: inline-block;
      margin: 0 @margin;
      .icon-fb-3;
    }
  }
  &.email {
    padding-left: @padding * 6;
    &:before {
      .icon-email;
    }
  }
  &.arr-down {
    padding-left: 15px;
    padding-right: 25px;
    &:before {
      position: relative;
      display: inline-block;
      margin-right: 15px;
      .icon-arr-down;
    }
  }
  &.loading {
    &:before {
      margin-left: @margin;
      .icon-spin-02;
    }
    &.sc-form-send {
      padding-left: 50px;
    }
  }
  &:disabled{
    .opacity(.2);
    cursor: default;
  }
}

.sc-btn-2 {
  .sc-btn;
    background-color: @color14;
		border-radius: 25px;
}
