/* Fontes que não estão na Natura*/
@font-face {
    font-family: gill_sans_italic;
    src: url('@{fontPath}/gillsans-light-italic.eot');
    src: url('@{fontPath}/gillsans-light-italic.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/gillsans-light-italic.woff2') format('woff2'),
         url('@{fontPath}/gillsans-light-italic.woff') format('woff'),
         url('@{fontPath}/gillsans-light-italic.ttf') format('truetype'),
         url('@{fontPath}/gillsans-light-italic.svg#gillsans_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: gill_sans_std_italic;
    src: url('@{fontPath}/gillsansstd-regular-italic.eot');
    src: url('@{fontPath}/gillsansstd-regular-italic.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/gillsansstd-regular-italic.woff2') format('woff2'),
         url('@{fontPath}/gillsansstd-regular-italic.woff') format('woff'),
         url('@{fontPath}/gillsansstd-regular-italic.ttf') format('truetype'),
         url('@{fontPath}/gillsansstd-regular-italic.svg#gillsans_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'naturasansbold';
    src: url('@{fontPath}/naturasans-bold-webfont.eot');
    src: url('@{fontPath}/naturasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/naturasans-bold-webfont.woff2') format('woff2'),
         url('@{fontPath}/naturasans-bold-webfont.woff') format('woff'),
         url('@{fontPath}/naturasans-bold-webfont.ttf') format('truetype'),
         url('@{fontPath}/naturasans-bold-webfont.svg#naturasansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'naturasanslight';
    src: url('@{fontPath}/naturasans-light-webfont.eot');
    src: url('@{fontPath}/naturasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/naturasans-light-webfont.woff2') format('woff2'),
         url('@{fontPath}/naturasans-light-webfont.woff') format('woff'),
         url('@{fontPath}/naturasans-light-webfont.ttf') format('truetype'),
         url('@{fontPath}/naturasans-light-webfont.svg#naturasanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'naturasansregular';
    src: url('@{fontPath}/naturasans-regular-webfont.eot');
    src: url('@{fontPath}/naturasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/naturasans-regular-webfont.woff2') format('woff2'),
         url('@{fontPath}/naturasans-regular-webfont.woff') format('woff'),
         url('@{fontPath}/naturasans-regular-webfont.ttf') format('truetype'),
         url('@{fontPath}/naturasans-regular-webfont.svg#naturasansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
