/**
 Seta a base de qualquer icone aplicado no
 projeto.
*/
.icon() {
	display: inline-block;
}

/**
 Seta a imagem sprite que deve conter os
 icones do projeto. O caminho e nome da imagem
 pode ser alterado caso o desenvolvedor achar necessário.
*/
.icon-sprite() {
	.icon;
	background: url("@{imgPath}/sprite.png") no-repeat;
}

.setGridPos(@x, @y) {
	.icon-sprite;
	.grid-position(@x, @y);
}

/**
 Cria uma seta com CSS apontando para a esquerda
 @size 			- 	Tamanho da seta
 @color 		- 	Cor da seta
 @addSize 	- 	Prolonga a seta no ponto direito
*/
.setIconArrowLeft(@size, @color, @addSize: 0px) {
	.icon;
	.size(0, 0);
	border-top: @size solid transparent;
	border-bottom: @size solid transparent;
	border-right: @size + @addSize solid @color;
}

/**
 Cria uma seta com CSS apontando para a direita
 @size 			- 	Tamanho da seta
 @color 		- 	Cor da seta
 @addSize 	- 	Prolonga a seta no ponto esquerdo
*/
.setIconArrowRight(@size, @color, @addSize: 0px) {
	.icon;
	.size(0, 0);
	border-top: @size solid transparent;
	border-bottom: @size solid transparent;
	border-left: @size + @addSize solid @color;
}

/**
 Cria uma seta com CSS apontando para baixo
 @size 			- 	Tamanho da seta
 @color 		- 	Cor da seta
 @addSize 	- 	Prolonga a seta no ponto mais alto
*/
.setIconArrowBottom(@size, @color, @addSize: 0px) {
	.icon;
	.size(0, 0);
	border-left: @size solid transparent;
	border-right: @size solid transparent;
	border-top: @size + @addSize solid @color;
}


.icon-film {
	.setGridPos(0, 0);
	.size(30px, 30px);
}

.icon-wp-tit {
	.setGridPos(2, 0);
	.size(35px, 34px);
}

.icon-wp {
	.setGridPos(5, 0);
	.size(34px, 34px);
}
.icon-wp-2 {
	.setGridPos(5, 3);
	.size(34px, 34px);
}
.icon-fb {
	.setGridPos(8, 0);
	.size(30px, 29px);
	left: 20px;
}
.icon-fb-2 {
	.setGridPos(8, 2);
	.size(32px, 31px);
}
.icon-fb-3 {
	.setGridPos(8, 4);
	.size(12px, 23px);
}
.icon-email {
	.setGridPos(10, 0);
	.size(30px, 23px);
	left: 20px;
}
.icon-email-dark {
	.setGridPos(16.3, 0);
	.size(30px, 23px);
}
.icon-arr-down {
	.setGridPos(14, 0);
	.size(17px, 13px);
}
.icon-spin-01 {
	background: url("@{imgPath}/spinners/spin.gif") no-repeat;
	.size(16px, 16px);
}
.icon-spin-02 {
	background: url("@{imgPath}/spinners/oval.svg") no-repeat;
	background-size: 100%;
	.size(20px, 20px);
	left: 4px;
    top: -2px;
}
.icon-spin-03 {
	background: url("@{imgPath}/spinners/spin-03.gif") no-repeat;
	.size(32px, 32px);
}
.icon-spin-04 {
	background: url("@{imgPath}/spinners/spin-04.gif") no-repeat;
	.size(32px, 32px);
}
.icon-modal-info {
	.setGridPos(10, 2);
	.size(32px, 32px);
}
.icon-modal-ok {
	.setGridPos(10, 4);
	.size(32px, 32px);
}
.icon-modal-close {
	.setGridPos(12, 2);
	.size(43px, 43px);
}
