/**
 Paths
 Variaveis de caminhos. Utilizar padrao existente
 e caso necessario, adicionar novas variaveis
 apos linha da variavel @imgPath
*/
@fontPath: "../fonts";
@imgPath: "../img";

/**
 Fixed
 Variaveis apenas para uso do conteudo estatico
 de marcacao (Header e Footer).
 Alterar apenas os valores de acordo com PSD recebido
*/
@imgPathFixed: '../img_static';
@tf_color1: #94897d;
@tf_color2: #b7a99a;
@tf_color3: #848484;
@tf_color4: yellow;

/**
 Colors
 Alterar de acordo com o projeto
*/
@color1: #ffffff;
@color2: #b56d63;
@color3: #d7d2c5;
@color4: #84786f;
@color5: #e9d1ce;
@color6: #d7bc7e;
@color7: #d64d43;
@color8: #e9d1ce;
@color9: #b8262d;
@color10: #6f625a;
@color11: #563633;
@color12: #d44d43;
@color13: #eddaaf;
@color14: #6f625a;
@color15: #d7d2c5;


/**
 Fonts
 Utilizar as fontes abaixo para desenvolvimento.
 Nao alterar as fontes declaradas, nem nome da variavel,
 nem valor. Caso seja necessario, adicionar nova
 variavel apos linha da variavel @mainFontBoldItalic.
*/
@mainFont: 'gill_sans';
@mainFontBold: 'gill_sans_std_bold';
@secFontBold: 'naturasansbold';
@subtitle: 'naturasansregular';
@mainFontLight: 'gill_sans_light';
@mainFontItalic: 'gill_sans_italic';
@mainFontBoldItalic: 'Open Sans';


/**
 Sizes
 Medidas mais utilizados no projeto.
*/
@pgSize: 960px;
@ftSize: 18px;
@ftBigTitSize: 28px;
@margin: 10px;
@zIndex: 1;
@zIndexBig: 5;
@zIndexBig2: 10;

@tabletSizeLand: 1024px;
@tabletSizePort: 768px;
@mbSizeLand: 667px;
@mbSizePort: 375px;
@mbSpace: 5%;
