#footer-mb {
  padding-top: 40px;
  /*background: @color1;*/
  display: none;
  .box-social {
    padding: 24px 0 17px;
    .bs-label {
      text-align: center;
      /*color: @color2;*/
      font-family: @mainFontBold;
      padding: 0 5px 10px;
      display: none;
    }
    .bs-wrap-link {
      @h: 45px;
      background: url("@{imgPath}/footer-mb.gif") no-repeat center top;
      height: @h;
      width: 188px;
      margin: auto;
      .bs-link {
        display: inline-block;
        height: @h;
        width: 43px;
        text-indent: -999999px;
      }
    }
  }
  .copy {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: @mainFontLight;
    /*color: @color5;*/
    padding: 20px 0;
    font-size: 12px;
  }
}

@media(max-width: @tabletSizeLand) {
  #footer-mb {
    display:none;
  }
}