  /**
   Modulo de formulario
  */
  .sc-form {
  }
  .sc-form-wrap {
  }
  .sc-form-row {
    margin-bottom: @margin * 2;
  }
  .sc-form-lbl {
    display: block;
    font-family: @mainFont;
    margin-bottom: @margin/2;
  }
  .sc-form-ipt {
    padding: 10px 20px;
    border: none;
    color: @color4;
    font-family: @mainFontLight;
    font-size: @ftSize;
    width: 100%;
    .border-radius(5px);
    .box-sizing;
    &.error {
      color: @color2;
      border: 2px solid @color2;
    }
  }
  .sc-form-note {
    font-size: 12px;
    display: block;
    margin: @margin/2 0;
  }
