.sc-item-lbl {
  position: absolute;
  left: 0px;
  bottom: 50px;
  z-index: 1;
  background-color: #ebcdcf;
  color: @color1;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.sc-item-lbl-title {
  text-transform: uppercase;
  font-family: @mainFontBold;
  font-size: 10px;
  margin-bottom: 2px;
}
.sc-item-lbl-contact {
  font-size: 9px;
  line-height: 10px;
}

.sc-list {
  overflow: hidden;
  position: relative;
  z-index: @zIndex;
  .sc-item {
    float: left;
    margin: @margin;
    max-width: 300px;
    position: relative;
  }
  .sc-item-footer {
    text-align:center;
    .sc-btn {
      display: inline-block;
    }
  }
}

@media (max-width: @tabletSizePort) {
  .sc-list {
    text-align: center;
    width: 85%;
    margin: auto;
    .sc-item {
      display: block;
      width: 49%;
      .sc-btn {
        margin: 0;
      }
      &.sc-none {
        display: none;
      }
    }
  }
}

@media (max-width: @mbSizeLand) {
  .sc-main {
    .sc-list {
      .sc-item {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
        &.sc-none {
          display: none;
        }
      }
    }
  }
}
